* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --primary-background: #f2f1df;
    --secondary-background: #592a19;
    --primary-text: #f2b138;
    --secondary-text: #f2ca52;
    --others: #a64826;
  }
 
.lead span{
    text-transform: uppercase;
}

hr{
    background: var(--others);
}